.login_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

  .login_header {
    margin-bottom: 32px;
    > h1 {
      text-align: center;
      > em { font-size: 2em; }
    }
  }

  .login_contents {
    width: 100%;
    .login_input {
      margin-bottom: 24px;
      input { width: 100%; height: 56px; border-radius: 20px; padding: 0 16px; border: 2px solid #DEDEDE; }
    }

    .login_setting {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 1.2em;

      .login_preserve {
        margin-bottom: 32px;
        .login_preserve_check {
          display: flex;
          cursor: pointer;
          input[type=checkbox] { width: 14px; height: 20px; margin-right: 4px; cursor: inherit; }
          label { cursor: inherit; }
        }
      }

      .login_find {
        .login_find_id {
          a {

          }
        }
      }
    }
  }
  .login_submit {
    width: 100%;
    margin-bottom: 24px;
    .login_btn {
      width: 100%;
      height: 56px;
      line-height: 56px;
      a {
        display: block;
        text-align: center;
        border-radius: 20px;
        font-size: 1.5em;
        background: #DEDEDE;
        color: #FFF;
      }
    }
  }

  .join_submit {
    .join_btn {
      text-align: center;
      span { padding: 0 4px; }
      a {

      }
    }
  }
}
